# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# macOS files
.DS_Store

# VS Code files
.vscode/

# IntelliJ IDEA files
.idea/
*.iml
out/

# Eclipse files (in case you switch IDEs)
.classpath
.project
.settings/
bin/

# Personal project files
todo.txt
